body {
	font-size: ;
	line-height: ;
	color: ;
	font-weight: ;
	font-family: ;
}
.hidden {
	display: none;
}
h2 {
	font-size: 47px;
	line-height: 1.2;
	color: #000;
	font-weight: 600;
	font-family: Gilroy;
}