body {
	margin: 0;
	padding: 0;
	bottom: 0;
	font-family: "Gilroy", "Open Sans", "snas-serif";
	font-size: 18px;
	line-height: normal;
	color: #000;
	font-weight: 800;
	box-sizing: border-box;
}
section, header, main, footer, div, ul, li, p, span, nav, button, a, img, h1, h2, h3, h4 ,h5 ,h6 {
	margin: 0;
	padding: 0;
	bottom: 0;
}
.catalog_body {
	font-family: "Gilroy", "Open Sans", "snas-serif";
	font-size: 18px;

}
.hidden {
	display: none;
}
.button {
	font-family: "Gilroy", "Open Sans", "snas-serif";
	font-size: 18px;
	font-weight: 800;
	letter-spacing: .2em;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	border: 0;
	background: url(../img/button_background.png) center center repeat-x;
	padding: 10px 44px;
	color: #000;
	outline: none;
}
.button:hover {
	background-color: #f0c52e;
}
.button:active {
	background-color: #f0c52e;
	color: rgba(0,0,0,.3);
}
.main_header {
	background-color: #f6e196;
	width: 1040px;
	padding: 0 60px;
	margin: 0 auto;
	margin-top: 40px;
	min-height: 300px;
}
.main_header__wrapper {
	display: inline-block;
	margin-top: -20px;
	width: 1040px;
}
.main_header a {
	color: #000;
	text-decoration: none;
}
.logo_svg:hover {
	fill-opacity: .6;
}
.logo_svg:active {
	fill-opacity: .3;
}
.main_header__top {
	font-family: "Open Sans", "snas-serif";
	font-size: 15px;
	font-weight: 300;
	line-height: 36px;
	letter-spacing: 0.01em;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}
.main_header__input {
	width: 355px;
	border: 0;
	background-color: transparent;
	opacity: .3;
	padding: 0 0 7px 38px;
	background: url(../img/search.svg) 4px top no-repeat;
	vertical-align: bottom;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: 0.01em;
}
.main_header__input:hover {
	opacity: .6;
}
.main_header__input:active,
.main_header__input:focus {
	opacity: 1;
	border-bottom: 2px solid #000;
	outline: none;
	margin-bottom: -2px;
}
.main_header__link_find {
	display: inline-block;
	opacity: 0;
	color: #000;
	text-decoration: none;
	padding: 7px 20px;
	border: 2px solid #000;
	margin-left: -4px;
	margin-bottom: -2px;
}
.main_header__link_find:hover {
	background-color: #000;
	color: #fff;
}
.main_header__link_find:active {
	background-color: #000;
	color: rgba(255,255,255,.3);
	opacity: 1;
}

.main_header__input:active,
.main_header__input:focus + .main_header__link_find {
	opacity: 1;
}
.main_header_link:hover {
	opacity: .6;
}
.main_header_link:active {
	opacity: .3;
}
.main_header__top_right {
	width: 500px;
	display: flex;
	justify-content: space-between;
	margin-top: 9px;
}
.main_header__right_wrapper {
	width: 205px;
	display: flex;
	justify-content: space-between;
}
.main_menu {
	font-family: "Gilroy", "snas-serif";
	font-size: 18px;
	line-height: normal;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}
.main_menu__label_catalog {	cursor: pointer; }

.main_menu__label_catalog svg {
	margin-right: 4px;
}
.main_menu__wrapper_right {
	width: 500px;
	display: flex;
	justify-content: space-between;
}
.main_menu__wrapper_right_inner_left {
	width: 273px;
	display: flex;
	justify-content: space-between;
}
.main_menu__link:hover { opacity: .6; }
.main_menu__link:active { opacity: .3; }
.main_menu__link:hover .plus_svg { fill-opacity: .5; }
.main_menu__link:active .plus_svg {	fill-opacity: 1; }

.main_header__drop_list_wrapper {
}
.main_header__drop_list {
	margin: 23px 0 0 1px;
	padding: 0;
	list-style: none;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: .01em;
	font-weight: 300;
	text-transform: none;
	width: 554px;
	display: flex;
	flex-wrap: wrap;
}
.main_header__drop_item:nth-child(2) {
	margin-left: 55px;
}
.main_header__drop_item:nth-child(3) {
	margin-left: auto;
}
.main_header__drop_item:nth-child(5) {
	margin-left: 84px;
	margin-right: 130px;
}
/**************************************************************************** SLIDER **************/
.slider {
	width: 1160px;
	margin: 0 auto;
	padding: 0 50px;
	box-sizing: border-box;
}
.slider_wrapper {
	margin-top: -130px;
	display: flex;
	justify-content: space-between;
}
.slider_2_figure {
	margin-top: 30px;
	margin-left: 66px;
}
.slider_3_figure {
	margin-top: 83px;
	margin-left: -18px;
}
.slider_2__wrapper, .slider_3__wrapper {
	display: none;
}
.slider__content {
	display: flex;
	flex-direction: column;
	width: 525px;
}
.slider__number {
	position: relative;
	font-family: "Gilroy", "snas-serif";
	font-size: 179.2px;
	line-height: 179.2px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	margin: 0;
	margin-right: -5px;
	text-align: right;
	color: #fff;
}
.slider__number:before {
	display: block;
	position: absolute;
	content: '';
	width: 100px;
	height: 3px;
	top: 55px;
	left: 11px;
	background-color: #fff;
}
.slider__number_3 {
	margin-right: -2px;
	margin-top: 3px;
}
.slider__number_3:before {
	display: block;
	position: absolute;
	content: '';
	width: 100px;
	height: 3px;
	top: 52px;
	left: 2px;
	background-color: #000;
}
.slider__title {
	font-size: 47px;
	letter-spacing: .01em;
	margin: 0;
	margin-top: -83px;
	padding-left: 15px;
}
.slider__title_3 {
	margin-top: -86px;
	padding-left: 0;
	width: 100%;
}
.slider__text {
	font-family: "Open Sans", "snas-serif";
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 0.01em;
	padding-left: 15px;
	margin-top: 15px;
}
.slider__text_3 {
	padding-left: 0;
}
.slider__control_wrapper {
	display: flex;
	margin-top: 43px;
	padding-left: 15px;
}
.slider__control_wrapper_3 {
	padding-left: 0;
}
.slider__control {
	background-color: #000;
	width: 10px;
	height: 10px;
	margin-top: 16px;
}
.slider__control_1 {
	margin-left: 175px;
}
.slider__control_2,
.slider__control_3 {
	margin-left: 23px;
}
.slider__spec_wrapper {
	display: flex;
	margin: 0;
	margin-top: 52px;
	padding-left: 15px;
}
.slider__spec {
	font-family: "Gilroy", "snas-serif";
	font-size: 36px;
	line-height: normal;
	font-weight: 300;
	text-transform: none;
	letter-spacing: 0.01em;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	width: 120px;
}
.slider__spec_wrapper_3 {
	padding-left: 0;
}
.slider_2__wrapper .slider__spec {
	width: 160px;
}
.slider__spec:nth-child(2) {
	margin-left: 40px;
}
.slider__spec:nth-child(3) {
	margin-left: 19px;
}
.subspec {
	font-family: "Open Sans", "snas-serif";
	font-size: 13px;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0.01em;
	margin-top: 10px;	
}
/***************************************************** catalog *******************/
.main_catalog {
	width: 1160px;
	margin: 0 auto;
	margin-top: 85px;
}
.main_catalog__list {
	list-style: none;
	font-family: "Gilroy", "snas-serif";
	font-size: 18px;
	line-height: normal;
	font-weight: 800;
	text-transform: none;
	letter-spacing: 0.01em;
	display: flex;
	justify-content: space-between;
}
.main_catalog__link {
	display: inline-block;
	background-color: rgba(240,197,46,.5); 
	width: 160px;
	display: flex;

}
.main_catalog__span {
	width: 160px;
	height: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main_catalog__span_2 {
	align-items: flex-end;
}
.main_catalog__link:hover,
.main_catalog__link:active {
	background-color: rgba(240,197,46,1);
}
.main_catalog__span:active {
	opacity: .3;
}
.main_catalog_names_list {
	list-style: none;
	display: flex;
	justify-content: space-between;
	margin-top: 32px;
}
.main_catalog_names_item {
	width: 160px;
}
.main_catalog_names {
	line-height: .01em;
	color: #000;
	text-decoration: none;
	width: 160px;
}
.main_catalog_names:active {
	opacity: .3;
}
/***********************************************TABS*************************/
.tabs {
	background-color: #e5e5e5;
	width: 100%;
	margin-top: 185px;
	padding: 0 137px;
	box-sizing: border-box;
	min-height: 288px;
}
.tabs__wrapper {
	width: 1160px;
	margin: 0 auto;
}
.tabs__wrapper__inner {
	display: flex;
	height: 288px;
}
.tabs__buttons {
	position: relative;
	font-family: "Gilroy", "snas-serif";
	font-size: 18px;
	line-height: normal;
	font-weight: 800;
	letter-spacing: 0.2em;
	display: flex;
	flex-direction: column;
	width: 285px;
}
.tabs__button {
	font-family: "Gilroy", "snas-serif";
	font-size: 18px;
	line-height: normal;
	font-weight: 800;
	letter-spacing: 0.2em;
	padding: 12px 25px;
	width: 160px;
}
.tabs__button:not(:first-child) {
	margin-top: 18px;
}
.tabs__buttons::after {
	display: block;
	position: absolute;
	content: '';
	right: 1px;
	top: -101px;
	width: 7px;
	height: 319px;
	background-color: #000;
}
.tabs__button:active {
	width: 278px;
	background: #000;
	color: #f7e184;
	padding-right: 117px;
}
.tabs_content {
	width: 875px;
}
.tabs_content__wrapper {
	width: 875px;	
	padding-left: 115px;
	box-sizing: border-box;
}
.delivery {
	display: inline-block;
	background: url(../img/delivery.svg) 91.2% top no-repeat;
}
.safe {
	display: inline-block;
	background: url(../img/warranty.svg) no-repeat;
}
.credit {
	display: inline-block;
	background: url(../img/credit.svg) no-repeat;
}
.tabs_content__tittle {
	font-family: "Gilroy", "snas-serif";
	font-size: 47px;
	line-height: normal;
	font-weight: 800;
	letter-spacing: 0.01em;

}
.tabs_content__text {
	font-family: "Open Sans", "snas-serif";
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 0.01em;
}
/********************************************************** partners *******************/
.partners {
	margin-top: 93px;
}
.partners_list {
	width: 1160px;
	margin: 0 auto;
	list-style: none;
	display: flex;
	justify-content: space-between;
}
.partners_link {
	width: 260px;
	height: 100px;
	display: inline-block;
}
.dji {
	background: url(../img/logo-1.jpg) center center no-repeat;
}
.spgadgets {
	background: url(../img/logo-2.jpg) center center no-repeat;
}
.gopro {
	background: url(../img/logo-3.jpg) center center no-repeat;
}
.vive {
	background: url(../img/logo-4.jpg) center center no-repeat;
}
.dji:hover {
	background: url(../img/logo-1-color.png) center center no-repeat;
}
.spgadgets:hover {
	background: url(../img/logo-2-color.png) center center no-repeat;
}
.gopro:hover {
	background: url(../img/logo-3-color.png) center center no-repeat;
}
.vive:hover {
	background: url(../img/logo-4-color.png) center center no-repeat;
}
/************************************************about_us__contacts************/
.about_us__contacts__wrapper {
	width: 1160px;
	margin: 0 auto;
	margin-top: 135px;
	display: flex;
}
.about_us {
	position: relative;
	width: 580px;
}
.about_us:before {
	display: block;
	position: absolute;
	content: '';
	width: 76px;
	height: 3px;
	top: -47px;
	left: 0;
	background-color: #000;
}
.about_us__title {
	font-family: "Gilroy", "snas-serif";
	font-size: 47px;
	line-height: normal;
	font-weight: 800;
	text-transform: none;
	letter-spacing: 0.01em;
}
.about_us__text {
	font-family: "Open Sans", "snas-serif";
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 0.01em;
	margin-top: 38px;
}
.about_us__text_bottom {
	margin-top: 30px;
	letter-spacing: normal;
}
.about_us__list {
	font-family: "Gilroy", "snas-serif";
	font-size: 16px;
	line-height: 40px;
	font-weight: 800;
	text-transform: none;
	letter-spacing: normal;
	margin-top: 66px;
	margin-left: 35px;
	list-style: none;
}
.about_us__item {
	position: relative;
}
.about_us__item:before {
	position: absolute;
	display: block;
	content: '';
	width: 4px;
	height: 4px;
	top: 16px;
	left: -34px;
	border: 2px solid #e5e5e5;
	border-radius: 50%;
}
.about_us__link_wrapper {
	margin-top: 63px;
	
}
.about_us__link {
	font-size: 18px;
	padding: 10px 22px;
}
.contacts {
	position: relative;
	width: 580px;
}
.contacts__title {
	font-family: "Gilroy", "snas-serif";
	font-size: 47px;
	line-height: normal;
	font-weight: 800;
	text-transform: none;
	letter-spacing: 0.01em;
	padding-left: 17px;
}
.contacts:before {
	display: block;
	position: absolute;
	content: '';
	width: 76px;
	height: 3px;
	top: -47px;
	left: 20px;
	background-color: #000;
}
.contacts__text {
	font-family: "Open Sans", "snas-serif";
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: normal;
	margin-top: 37px;
	padding-left: 17px;
}
.contacts__link {
	display: inline-block;
	margin-top: 40px;
	padding-left: 20px;
}
.about_us__write_us_wrapper {
	margin-top: 62px;
	margin-left: 20px;
}
.about_us__write_us {
	padding: 10px 40px;
}
/********************************************footer****************************/
.main_footer {
	margin-top: 82px;
	width: 100%;
	background-color: #464646;
}
.footer_wrapper {
	width: 1160px;
	margin: 0 auto;
	padding-top: 63px;
}
.footer_top {
	display: flex;	
	justify-content: space-between;
}
.logo_svg_footer {
	fill: #ffc600;
}
.logo_svg_footer:hover {
	fill: #ffc600;
	fill-opacity: .6;
}
.logo_svg_footer:active {
	fill: #ffc600;
	fill-opacity: .3;
}
.footer_top_right_list {
	list-style: none;
	display: flex;
	width: 325px;
	margin-top: -5px;
}
.footer_top_right__item:nth-child(1) {

}
.footer_top_right__item:nth-child(2) {
	margin-left: 38px;
}
.footer_top_right__item:nth-child(3) {
	margin-left: auto;
}
.main_footer_icon {
	padding-right: 9px;
}
.footer_top_right__link {
	font-family: "Open Sans", "snas-serif";
	font-size: 15px;
	font-weight: 300;
	line-height: 36px;
	letter-spacing: .01em;
	text-decoration: none;
	color: #fff;
	opacity: .6;
}
.main_footer_icon {
	fill: #ffc600;
	fill-opacity: 1.4;
}
.footer_top_right__link:hover {
	opacity: 1;
}
.footer_top_right__link:active {
	opacity: .3;
}
.footer_top_right__link:hover .main_footer_icon:hover {
	fill-opacity: .6;
}
.footer_middel {
	margin-top: 33px;
	display: flex;

}
.footer_middle__adress {
	font-family: "Open Sans", "snas-serif";
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: normal;
	color: #fff;	
}
.footer_middle__adress:last-child {
	margin-left: auto;
}
.footer_middle__menu {
	width: 450px;
	margin-top: 5px;
	display: flex;
	justify-content: space-around;
	margin-left: 150px;
}
.footer_middle__link {
	font-family: "Gilroy", "snas-serif";
	font-size: 18px;
	line-height: normal;
	font-weight: 800;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .2em;
	color: #fff;
}
.footer_middle__link:hover {
	opacity: .6;
}
.footer_middle__link:active {
	opacity: .3;
}
.footer_bottom {
	margin-top: 64px;
	display: flex;
	justify-content: space-between;
}
.footer_bottom_line {
	margin-top: 13px;
	width: 80px;
	height: 7px;
	background-color: #fff;
}
.footer_bottom__social {
	margin-right: 52px;
	width: 143px;
	display: flex;
	justify-content: space-between;
}
.footer_bottom__social_link {
	opacity: .3;
}
.footer_bottom__social_link:hover {
	opacity: 1;
}
.footer_bottom__social_link:active {
	opacity: .1;
}
.footer_bottom_html_icon {
	fill: #ffc600;
}
.footer_bottom_html:hover {
	opacity: .6;
}
.footer_bottom_html:active {
	opacity: .3;
}
/***********************************************************modal write us**********/
.modal_write {
	margin: 0 auto;
	width: 960px;
	height: 553px;
	padding-left: 100px;
	box-sizing: border-box;
	box-shadow: 
		60px 0 75px -65px #000,
		-60px 0 75px -65px #000;
}
.modal__close {
	border: 0;
	background-color: transparent;
	margin: 22px 22px 0 783px;
}
.modal__close__background {
	fill: #f0c52e;
	opacity: .5;
}
.modal__close__background:hover {
	opacity: 1;
}
.modal__close__background:active {
	opacity: .3;
}
.modal_write__form {
	margin-top: 13px;
}
.modal_write__input_wrapper {
	display: flex;
}
.modal_write__input_wrapper_left {
	display: flex;
	flex-direction: column;
}
.modal_write__input_wrapper_right {
	margin-left: 40px;
	display: flex;
	flex-direction: column;
}
.modal_write__label {
	font-family: "Gilroy", "snas-serif";
	font-size: 18px;
	line-height: 18px;
	letter-spacing: normal;
}
.modal_write__input {
	margin-top: 10px;
	width: 355px;
	min-height: 45px;
}
.modal_write__textarea_wrapper {
	margin-top: 35px;
	display: flex;
	flex-direction: column;
}
.modal_write__textarea {
	margin-top: 10px;
	width: 755px;
}
.modal_write__button_wrapper {
	margin-top: 40px;
}
.modal_write__button {
	padding: 10px 34px;
}
.modal_map {
	margin: 0 auto;
	width: 960px;
	height: 566px;
	background: #eceae7 url(../img/map-big.jpg) center top no-repeat;
	box-shadow: 0 20px 60px -20px #999;
	margin-bottom: 50px;
}
.modal__close_map {
	border: 0;
	background-color: transparent;
	margin: 22px 22px 0 883px;
}

/*********************************************************************         *************/
/********************************************************************* catalog *************/
/*********************************************************************         *************/
.catalog_header {
	min-height: 186px;
}
.catalog_main {
	width: 1160px;
	margin: 0 auto;
}
.item__title {
	margin-top: 31px;
	margin-left: 60px;	
	font-family: "Gilroy", "snas-serif";
	font-size: 47px;
	line-height: normal;
	font-weight: 800;
	letter-spacing: .01em;
}
.breadcrumbs_wrapper {
	margin-top: 13px;
	margin-left: 60px;
}
.breadcrumbs_list {
	width: 383px;
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.breadcrumbs_link {
	text-decoration: none;
	font-family: "Open Sans", "snas-serif";
	font-size: 14px;
	font-weight: 300;
	line-height: 36px;
	letter-spacing: .01em;
	color: #000;
	opacity: .3;
}
.breadcrumbs_link:hover {
	opacity: .6;
}
.breadcrumbs_link:active {
	opacity: .1;
}
.breadcrumbs_item:first-child::after,
.breadcrumbs_item:nth-child(2)::after {
	content: '>';
	font-family: "Open Sans", "snas-serif";
	font-size: 14px;
	font-weight: 300;
	line-height: 36px;
	letter-spacing: .01em;
	color: #000;
	margin-left: 10px;
	vertical-align: middle;
}
/************************************************************counter*******************/
.counter {
	margin-top: 40px;
	width: 1440px;
	margin-left: -140px;
}
.counter__top {
	min-height: 68px;
	display: flex;
}
.counter__filter {
	background-color: #efefef;
	width: 470px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #dbdbdb;
}
.filter_span {
	font-family: "Gilroy", "snas-serif";
	font-size: 16px;
	letter-spacing: .25em;
	margin-bottom: 2px;
	margin-left: 22px;
	text-transform: uppercase;
}
.counter__prduct {
	width: 970px;
	display: flex;
	background-color: #efefef;
}
.counter__sort {
	width: 560px;
	display: flex;
	align-items: center;
}
.counter__sort p {
	width: 170px;
	text-transform: uppercase;
	padding-left: 70px;
	font-family: "Gilroy", "snas-serif";
	font-size: 16px;
	line-height: normal;
	font-weight: 800;
	letter-spacing: .2em;
	color: #000;
}
.counter__sort_inner {
	width: 320px;
	margin-bottom: 3px;
}
.counter__type {
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
	font-family: "Open Sans", "snas-serif";
	font-size: 14px;
	font-weight: 300;
	line-height: 18px;
	letter-spacing: normal;
	color: #000;
	opacity: .3;
	outline: 0;
}
.counter__type:first-child {
	margin-left: 30px;
}
.counter__type:not(:first-child) {
	margin-left: 27px;
}
.counter__arrow_wrapper {
	width: 41px;
	display: flex;
	justify-content: space-between;
	margin-left: 230px;
}
.arrow_up {
	transform: rotate(180deg);
}
.counter__arrow:hover {
	opacity: .4;
}
.counter__arrow:active {
	opacity: 1;
}
.counter_bottom {
	display: flex;
	padding-bottom: 57px;
}
.counter__form_wrapper {
	background-color: #efefef;
}
.counter__form {
	width: 270px;
	padding-left: 200px;
}
.counter__form fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
.counter__fieldset_first_wrapper {
	margin-top: 85px;
	position: relative;
}
.counter__fieldset_second_wrapper {
	margin-top: 117px;
	position: relative;
}
.counter__fieldset_third_wrapper {
	margin-top: 44px;
	position: relative;
}
.counter__input_checkbox_wrapper {
	margin-top: 20px;
}
.counter__fieldset_first_wrapper:before,
.counter__fieldset_second_wrapper:before,
.counter__fieldset_third_wrapper:before {
	position: absolute;
	display: block;
	content: '';
	top: -14px;
	left: -1px;
	width: 200px;
	height: 2px;
	background-color: #000;
}
.counter__fieldset_second {
	display: flex;
}
.counter__radio_wrapper:not(:last-child) {
	margin-top: 17px;
}
.filters_legend {
	font-family: "Gilroy", "snas-serif";
	font-size: 18px;
	line-height: normal;
	font-weight: 800;
	letter-spacing: .01em;
	color: #000;
}
.counter__label_checkbox {
	position: relative;
}
.counter__label_checkbox {
	font-family: "Open Sans", "snas-serif";
	font-size: 14px;
	font-weight: 300;
	line-height: 40px;
	letter-spacing: .01em;
	color: #000;
	padding-left: 38px;
	cursor: pointer;
}
.counter__label_checkbox::before {
	position: absolute;
	display: block;
	width: 26px;
	height: 23px;
	content: '';
	top: -2px;
	left: -2px;
	background: url(../img/checkbox-off.svg) left center no-repeat;
}
.counter__input_checkbox:checked + .counter__label_checkbox::before {
	position: absolute;
	display: block;
	width: 26px;
	height: 23px;
	content: '';
	top: -2px;
	left: -2px;
	background: url(../img/checkbox-on.svg) left center no-repeat;
}
.counter__label_checkbox:hover::before {
	opacity: .6;
}
.counter__label_checkbox:active::before {
	opacity: 1;
}
.counter__label_radio {
	position: relative;
}
.counter__label_radio {
	font-family: "Open Sans", "snas-serif";
	font-size: 14px;
	font-weight: 300;
	line-height: 40px;
	letter-spacing: .01em;
	color: #000;
	padding-left: 37px;
	cursor: pointer;
}
.counter__label_radio:before {
	position: absolute;
	display: block;
	width: 25px;
	height: 25px;
	content: '';
	top: -3px;
	left: -2px;
	background: url(../img/radio-off.svg) left center no-repeat;
}
.counter__radio:checked + .counter__label_radio::before {
	position: absolute;
	display: block;
	width: 25px;
	height: 25px;
	content: '';
	top: -3px;
	left: -2px;
	background: url(../img/radio-on.svg) left center no-repeat;
}
.counter__label_radio:hover::before {
	opacity: .6;
}
.counter__label_radio:active::before {
	opacity: 1;
}
.counter__type:hover {
	opacity: .6;
	outline: 0;
}
.counter__type:active {
	opacity: 1;
	outline: 0;
}
.counter__arrow {
	border: 0;
	background: transparent;
	margin: 0;
	padding: 0;
	opacity: .2;
	outline: none;
}
.counter__gallary {
	width: 970px;
	padding: 70px 140px  15px 72px;
	box-sizing: border-box;
}
.counter__button {
	margin-top: 30px;
	padding: 10px 40px;
}





.counter__list {
	width: 758px;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.counter__link:active {
	opacity: .7;
}
.counter__name {
	margin-top: 28px;
	margin-bottom: 50px;
	display: flex;
}
.counter__item:nth-child(3) .counter__name,
.counter__item:nth-child(4) .counter__name {
	margin-bottom: 39px;
}
.counter__coast {
	margin-left: auto;
}
.compared {
	border: 0;
	margin: 0;
	padding: 0;
	background: transparent;
	font-family: "Open Sans", "snas-serif";
	font-size: 13px;
	font-weight: 300;
	line-height: 36px;
	letter-spacing: .01em;
	color: #000;
	outline: none;
	opacity: .5;
}
.compared:hover {
	opacity: 1;
}
.compared:active {
	opacity: .2;
}
.counter__link_name {
	font-family: "Gilroy", "snas-serif";
	font-size: 18px;
	line-height: normal;
	font-weight: 800;
	letter-spacing: .01em;
	color: #000;
	text-decoration: none;
}
.counter__coast {
	font-family: "Gilroy", "snas-serif";
	font-size: 16px;
	line-height: normal;
	font-weight: 300;
	letter-spacing: .01em;
	color: #000;
}
.counter__pagination {
	width: 760px;
	background-color: #ebebeb;
	min-height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
}
.counter__pagination_edge {
	font-family: "Gilroy", "snas-serif";
	font-size: 16px;
	line-height: normal;
	font-weight: 800;
	letter-spacing: .2em;
	color: #000;
	background-color: #ebebeb;
	text-decoration: none;
}
.counter__pagination_edge:first-child {
	margin-left: 29px;
}
.counter__pagination_edge:last-child {
	margin-right: 29px;
} 
.counter__pagination_edge:hover {
	font-family: "Gilroy", "snas-serif";
	font-size: 16px;
	line-height: normal;
	font-weight: 800;
	letter-spacing: .2em;
	color: #000;
	background-color: #d9d9d9;
}
.counter__pagination_edge:active {
	font-family: "Gilroy", "snas-serif";
	font-size: 16px;
	line-height: normal;
	font-weight: 800;
	letter-spacing: .2em;
	color: #000;
	background-color: #d9d9d9;
	opacity: .3;
}
.counter__pagination_inner {
	margin-left: 7px;
	display: flex;
	justify-content: space-between;
	width: 90px;
}
.counter__pagination_item {
	font-family: "Gilroy", "snas-serif";
	font-size: 16px;
	line-height: normal;
	font-weight: 800;
	letter-spacing: .2em;
	color: #000;
	text-decoration: none;
	opacity: .3;
}
.counter__pagination_item:hover {
	font-family: "Gilroy", "snas-serif";
	font-size: 16px;
	line-height: normal;
	font-weight: 800;
	letter-spacing: .2em;
	color: #000;
	opacity: .6;
}
.counter__pagination_item:active {
	font-family: "Gilroy", "snas-serif";
	font-size: 16px;
	line-height: normal;
	font-weight: 800;
	letter-spacing: .2em;
	color: #000;
	opacity: 1;
}
.catalog_footer {
	margin-top: 0;
}
